body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

header{
  background:#585858;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#FF8000 3px solid;
}

header #landscape{
  float:right;
  display:inline;
  text-transform: uppercase;
}

header #landscape p {
  float:left;
  margin: 15px 15px 15px 15px;
}

header #landscape #startButton{
  text-transform: uppercase;
  border-radius: 8px;
  font-size:16px;
  font-weight:bold;
  padding: 5px 20px 3px 20px;
  margin: 10px 15px 15px 15px;
  background: #FF8000;
  color:#FFFFFF;

}

header #landscape #startButton:hover{
  color:#000000;
  background: #DF7401;
  font-weight:bold;
}

header #headlabel{
  float:left;
}

header #headlabel h1{
  margin:0;
}


