body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#585858;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#F10A0A 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #headlabel{
  float:left;
}

header #headlabel h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .current a{
  color:#F10A0A;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}